<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"/>
<TITLE></TITLE>
<STYLE TYPE="text/css">
body { background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; }
tr.R0{ height: 41px; }
tr.R0 td.R0C6{ text-align: left; }
tr.R0 td.R0C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; font-weight: bold; text-align: left; }
tr.R0 td.R15C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R0 td.R1C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: left; }
tr.R10{ height: 15px; }
tr.R14{ height: 121px; }
tr.R14 td.R14C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R14 td.R14C1{ text-align: left; }
tr.R18{ height: 81px; }
tr.R18 td.R18C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R18 td.R18C1{ text-align: left; }
tr.R2{ height: 21px; }
tr.R2 td.R11C6{ font-family: Times New Roman; font-size: 12pt; font-style: normal; font-weight: bold; text-align: left; }
tr.R2 td.R12C6{ font-family: Times New Roman; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; }
tr.R2 td.R16C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R2 td.R2C6{ text-align: left; }
tr.R2 td.R2C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; font-weight: bold; text-align: left; }
tr.R2 td.R30C1{ text-align: justify; }
tr.R2 td.R36C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; font-weight: bold; text-align: justify; vertical-align: top; }
tr.R2 td.R5C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: left; }
tr.R25{ height: 341px; }
tr.R25 td.R25C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R25 td.R25C1{ text-align: left; }
tr.R31{ height: 25px; }
tr.R31 td.R31C0{ font-family: Times New Roman; font-size: 14pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: top; }
tr.R4{ height: 61px; }
tr.R4 td.R17C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R4 td.R4C6{ text-align: left; }
tr.R4 td.R4C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: left; }
tr.R47{ height: 101px; }
tr.R47 td.R47C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R47 td.R47C1{ text-align: left; }
tr.R61{ height: 141px; }
tr.R61 td.R61C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R61 td.R61C1{ text-align: left; }
tr.R7{ height: 181px; }
tr.R7 td.R7C6{ text-align: left; }
tr.R7 td.R7C7{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: left; }
tr.R98{ height: 51px; }
tr.R98 td.R98C0{ font-family: Times New Roman; font-size: 12pt; font-style: normal; text-align: justify; vertical-align: top; }
tr.R98 td.R98C1{ text-align: left; }
table {table-layout: fixed; padding: 0; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: Arial; font-size: 8pt; font-style: normal; }
td { padding: 0; padding-left: 2px; overflow:hidden; vertical-align: bottom;}
</STYLE>
</HEAD>
<BODY STYLE="background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; ">
<TABLE style="width:100%; height:0px; " CELLSPACING=0>
<COL WIDTH=14>
<COL WIDTH=63>
<COL WIDTH=63>
<COL WIDTH=63>
<COL WIDTH=63>
<COL WIDTH=63>
<COL WIDTH=63>
<COL WIDTH=313>
<COL>
<TR CLASS=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R0C6"><SPAN></SPAN></TD>
<TD CLASS="R0C7">Арбитражный суд Республики Саха (Якутия)</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R0C6"><SPAN></SPAN></TD>
<TD CLASS="R1C7">677980, Саха /Якутия/ Респ, Якутск г, Курашова ул, Дом №28</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C7"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R0C6"><SPAN></SPAN></TD>
<TD CLASS="R0C7">Заявитель: Гурецкий Анатолий Андреевич</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R4C6"><SPAN></SPAN></TD>
<TD CLASS="R4C7">Адрес регистрации: 677901, Саха /Якутия/ Респ, Якутск г, Марха мкр, Лобановка ул, Дом №11, Корпус А</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R5C7">Тел. 89245909112</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R5C7"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R7>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R7C6"><SPAN></SPAN></TD>
<TD CLASS="R7C7">Кредитор: АО «Банк Русский Стандарт», 105187, Москва г, Ткацкая ул, Дом №36<BR><BR>Кредитор: ПАО "Азиатско-Тихоокеанский банк", 675004, Амурская обл, Благовещенск г, Амурская ул, Дом №225<BR><BR>Кредитор: ПАО "Сбербанк России", 117312, Москва г, Вавилова ул, Дом №19</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R5C7"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C7">Госпошлина 300 руб.</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R10>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS="R11C6" COLSPAN=3><SPAN STYLE="white-space:nowrap;max-width:0px;">ЗАЯВЛЕНИЕ</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R12C6" COLSPAN=9><SPAN STYLE="white-space:nowrap;max-width:0px;">о&nbsp;признании&nbsp;гражданина&nbsp;несостоятельным&nbsp;(банкротом)</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R10>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R14>
<TD CLASS="R14C0" COLSPAN=8>          Я, Гурецкий Анатолий Андреевич, дата рождения 12.06.1983г., место рождения гор.Якутск. Паспорт гражданина РФ 98 03 738830, выданный 3-м ОВД гор.Якутска Республики Саха (Якутия) 12.09.2003г., код подразделения 142-003, проживающий по адресу: 677901, Саха /Якутия/ Респ, Якутск г, Марха мкр, Лобановка ул, Дом №11, Корпус А, поставлен на учет в качестве налогоплательщика в Межрайонной инспекции ФНС России № 5 по Республике Саха (Якутии), мне присвоен ИНН 143522816926.</TD>
<TD><DIV STYLE="position:relative; height:121px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:121px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          В качестве индивидуального предпринимателя зарегистрирован не был, что подтверждается выпиской Межрайонной инспекции ФНС России № 5 по Республике Саха (Якутии) от г.</TD>
<TD><DIV STYLE="position:relative; height:41px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:41px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          В браке не состою, на иждивении несовершеннолетних детей нет.</TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          Я состою на учете в  в качестве ищущего работу, прилагаю справку от  №. За  год, предшествующий подаче заявления о признании банкротом, мой доход составил  рублей (Ноль рублей 00 копеек), источник - заработная плата, что подтверждается  от .</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R18>
<TD CLASS="R18C0" COLSPAN=8>           Обращение в суд с соответствующим заявлением в порядке статьи 213.4 Федерального закона от 26.10.2002 № 127-ФЗ «О несостоятельности (банкротстве)» (далее – Закон о банкротстве) обусловлено моей неплатежеспособностью и неспособностью удовлетворить требования кредиторов и уполномоченного органа в полном объеме.</TD>
<TD><DIV STYLE="position:relative; height:81px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:81px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>           Так, по состоянию на г. сумма требований кредиторов по денежным обязательствам, которые мною не оспариваются, составляет 1 004 634,13 рублей (Один миллион четыре тысячи шестьсот тридцать четыре рубля 13 копеек).</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>           Задолженность по обязательным платежам на  г. отсутствует.</TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R18>
<TD CLASS="R18C0" COLSPAN=8>           Список моих кредиторов и должников с указанием наименования или фамилии, имени, отчества, суммы кредиторской и дебиторской задолженности, их места нахождения или места жительства, оформленный в соответствии с формой, утвержденной приказом Минэкономразвития от 05.08.2015 № 530, прилагаю к заявлению.</TD>
<TD><DIV STYLE="position:relative; height:81px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:81px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>           За три года до подачи заявления о признании банкротом я не совершал сделки с недвижимым имуществом, ценными бумагами, долями в уставном капитале, транспортными средствами, а также сделки на сумму свыше трехсот тысяч рублей.</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          Мне известно, что по состоянию на г. в отношении меня нет исполнительных документов на исполнении.</TD>
<TD><DIV STYLE="position:relative; height:41px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:41px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          По состоянию на г. сумма задолженности перед кредиторами составляет 1 004 634,13 рублей, что превышает 500 000 рублей, и срок, в течение которого не были исполнены требования, превышает три месяца с момента наступления даты их исполнения.</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R25>
<TD CLASS="R25C0" COLSPAN=8>            Соответственно, у меня имеются признаки банкротства, предусмотренные статьей 213.3 Закона о банкротстве.
            В соответствии с положениями статьи 213.4 Закона о банкротстве гражданин обязан обратиться в арбитражный суд с заявлением о признании его банкротом в случае, если удовлетворение требований одного кредитора или нескольких кредиторов приводит к невозможности исполнения гражданином денежных обязательств и (или) обязанности по уплате обязательных платежей в полном объеме перед другими кредиторами и размер таких обязательств и обязанности в совокупности составляет не менее чем 500 000 рублей, не позднее тридцати рабочих дней со дня, когда он узнал или должен был узнать об этом.
           Опись моего имущества с указанием его места нахождения или хранения, в том числе имущества, являющегося предметом залога, с указанием наименования или фамилии, имени и отчества залогодержателя, оформленную в соответствии с формой, утвержденной приказом Минэкономразвития от 05.08.2015 № 530, прилагаю к заявлению.
          Я не имею возможности удовлетворить требования кредиторов по денежным обязательствам и исполнить обязанность по уплате обязательных платежей в полном объеме по следующим причинам:
        1.	Отсутствие имущества;
        2.	Отсутствует источник дохода.</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>         На мое имя открыты три текущих счета, три сберегательных счета в ПАО "Сбербанк России". На текущих счетах остаток 0 рублей и на сберегательных счетах 0 рублей.</TD>
<TD><DIV STYLE="position:relative; height:41px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:41px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          Прошу утвердить финансового управляющего из числа членов Ассоциации арбитражных управляющих «СРО Гарантия», ОГРН 1087799004193, ИНН 7727278019, (115088, Москва г, 1-я Дубровская ул, Дом №13а, Корпус 1, Квартира 20).</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>         Денежные средства на выплату вознаграждения финансовому управляющему в сумме 25000,00 (Двадцать пять тысяч) рублей внесены в депозит Арбитражного суда Республики Саха (Якутия).   от г. прилагаю.</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          На основании изложенного, а также руководствуясь статьями 4, 6, 33, 213.3, 213.4 Федерального закона Российской Федерации от 26.10.2002 № 127-ФЗ «О несостоятельности (банкротстве)», ст. 223 - 225 Арбитражного процессуального кодекса Российской Федерации,</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;">&nbsp;</DIV></TD>
</TR>
<TR CLASS=R31>
<TD CLASS="R31C0" COLSPAN=8>ПРОШУ:</TD>
<TD><DIV STYLE="position:relative; height:25px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:25px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;">&nbsp;</DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          1. Признать меня Гурецкий Анатолий Андреевич банкротом.</TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          2. Прошу ввести в отношении меня процедуру реализации имущества.</TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          3. Утвердить кандидатуру финансового управляющего из числа саморегулируемой организации – Ассоциация арбитражных управляющих «СРО Гарантия», ОГРН 1087799004193, ИНН 7727278019, (115088, Москва г, 1-я Дубровская ул, Дом №13а, Корпус 1, Квартира 20).</TD>
<TD><DIV STYLE="position:relative; height:61px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:61px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R36C0" COLSPAN=8>         ПРИЛОЖЕНИЯ:</TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;"></DIV></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          1.	Доказательство уплаты государственной пошлины:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          -   с назначением платежа: Госпошлина;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          2.	Доказательство направления копии заявления кредиторам (почтовые квитанции, расписки о вручении, почтовые уведомления):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - почтовая квитанция АО «Банк Русский Стандарт», 105187, Москва г, Ткацкая ул, Дом №36;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - почтовая квитанция ПАО "Азиатско-Тихоокеанский банк", 675004, Амурская обл, Благовещенск г, Амурская ул, Дом №225;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - почтовая квитанция ПАО "Сбербанк России", 117312, Москва г, Вавилова ул, Дом №19;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          3.	Доказательство внесения на депозитный счет Арбитражного Суда Республики Саха (Якутия) денежных средств для оплаты вознаграждения финансовому управляющему и привлеченных финансовым управляющим лиц:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          -   с назначением платежа: Внесение средств на депозит арбитражного управляющего от г.;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          4.	Документы, подтверждающие наличие задолженности, основание ее возникновения и неспособность гражданина удовлетворить требования кредиторов в полном объеме::</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - справка ПАО "Сбербанк России" по состоянию на 19.05.2020г. по кредитному договору №216438 от 16.09.2013г.;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R47>
<TD CLASS="R47C0" COLSPAN=8>          5.	Документы, подтверждающие наличие или отсутствие у гражданина статуса индивидуального предпринимателя на основании выписки из единого государственного реестра индивидуальных предпринимателей либо иного подтверждающего указанные сведения документа. Такие документы должны быть получены не ранее чем за пять рабочих дней до даты подачи в арбитражный суд гражданином заявления о признании его банкротом:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Справка из Единого государственного реестра индивидуальных предпринимателей по состоянию на г.;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R14>
<TD CLASS="R14C0" COLSPAN=8>          6.	Списки кредиторов и должников гражданина с указанием их наименования или фамилии, имени, отчества, суммы кредиторской и дебиторской задолженности, места нахождения или места жительства кредиторов и должников гражданина, а также с указанием отдельно денежных обязательств и (или) обязанности по уплате обязательных платежей, которые возникли в результате осуществления гражданином предпринимательской деятельности. Форма представления указанных списков утверждается регулирующим органом:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Форма. Список кредиторов и должников гражданина, прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          7.	Опись имущества гражданина с указанием места нахождения или хранения имущества, в том числе имущества, являющегося предметом залога, с указанием наименования или фамилии, имени и отчества залогодержателя по утвержденной форме:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Форма. Опись имущества гражданина, прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          8.	Копии документов, подтверждающих право собственности гражданина на имущество, и документов, удостоверяющих исключительные права на результаты интеллектуальной деятельности гражданина (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Уведомление об отсутствии в Едином государственном реестре недвижимости запрашиваемых сведений №КУВИ-002/2020-845957 от 24.05.2020г.;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          9.	Копии документов о совершавшихся гражданином в течение трех лет до даты подачи заявления сделках с недвижимым имуществом, ценными бумагами, долями в уставном капитале, транспортными средствами и сделках на сумму свыше трехсот тысяч рублей (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Справка с МРЭО ГИБДД МВД по РС(Я) от 06.05.2020г. №202701975612;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          10.	Выписка из реестра акционеров (участников) юридического лица, акционером (участником) которого является гражданин (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Гражданка Гурецкий Анатолий Андреевич не является акционером (участником) юридического лица, акционером (участником);</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          11.	Сведения о полученных физическим лицом доходах и об удержанных суммах налога за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - доходы отсутствуют;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R61>
<TD CLASS="R61C0" COLSPAN=8>          12.	Выданная банком справка о наличии счетов, вкладов (депозитов) в банке и (или) об остатках денежных средств на счетах, во вкладах (депозитах), выписки по операциям на счетах, по вкладам (депозитам) граждан, в том числе индивидуальных предпринимателей, в банке за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом, справки об остатках электронных денежных средств и о переводах электронных денежных средств за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №42307810976066715548, за период с 01.05.2017г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №42307810376000005335, за период с 01.05.2017г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №42307810776065001592, за период с 01.05.2017г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №40817810176066711368, за период с 20.04.2015г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №40817810776007400562, за период с 01.05.2017г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - выписка по счету №40817810376066700373, за период с 27.01.2002г. по 19.05.2020г., ПАО "Сбербанк России";</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          13.	Копия паспорта:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Копию паспорта прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          14.	Копия страхового свидетельства обязательного пенсионного страхования:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Копию страхового свидетельства обязательного пенсионного страхования, прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          15.	Сведения о состоянии индивидуального лицевого счета застрахованного лица:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Сведения о состоянии индивидуального лицевого счета застрахованного лица, форма СЗИ-ИЛС от . прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          16.	Справка о назначенных пенсиях и социальных выплатах:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Справка о назначенных пенсиях и социальных выплатах – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          17.	Копия свидетельства о постановке на учет в налоговом органе (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Копия свидетельства о постановке на учет в налоговом органе прилагаю;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          18.	Копия свидетельства о заключении брака (при наличии заключенного и не расторгнутого на дату подачи заявления брака):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Гурецкий Анатолий Андреевич в браке не состоит;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          19.	Копия свидетельства о расторжении брака, если оно выдано в течение трех лет до даты подачи заявления (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Свидетельство о расторжении брака – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          20.	Копия брачного договора (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Брачный договор – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS="R17C0" COLSPAN=8>          21.	Копия соглашения или судебного акта о разделе общего имущества супругов, соответственно заключенного и принятого в течение трех лет до даты подачи заявления (при наличии):</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Копия соглашения или судебного акта о разделе общего имущества супругов, соответственно заключенного и принятого в течение трех лет до даты подачи заявления – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          22.	Копия свидетельства о рождении ребенка, если гражданин является его родителем, усыновителем или опекуном:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Копия свидетельства о рождении ребенка, если гражданин является его родителем, усыновителем или опекуном – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          23.	Документы, подтверждающие иные обстоятельства, на которых основывается заявление гражданина:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Документы, подтверждающие иные обстоятельства, на которых основывается заявление гражданина – отсутствуют;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          24.	Справка о наличии (отсутствии) судимости и (или) факта уголовного преследования либо прекращении уголовного преследования:</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          - Справка о наличии (отсутствии) судимости и (или) факта уголовного преследования либо прекращении уголовного преследования № от г. выданная ;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R0>
<TD CLASS="R15C0" COLSPAN=8>          25.	Копия решения о признании гражданина безработным, выданная государственной службой занятости населения, в случае принятия указанного решения::</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>          - Копия решения о признании гражданина безработным – отсутствует;</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD CLASS="R2C6"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0" COLSPAN=8>         Гурецкий А.А.  _________________________</TD>
<TD><SPAN></SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD CLASS="R16C0"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD CLASS="R30C1"><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="position:relative; height:21px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:21px;overflow:hidden;">&nbsp;</DIV></TD>
</TR>
<TR CLASS=R98>
<TD CLASS="R98C0" COLSPAN=8><DIV STYLE="position:relative; height:51px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="position:relative; height:51px;width: 100%; overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:51px;overflow:hidden;"></DIV></TD>
</TR>
</TABLE>
</BODY>
</HTML>
